.h1 {
  font-size: 20px;
  font-family: fantasy;
}
.box {
  border: 2px solid black;
  width: 50%;
  background-color: blueviolet;
  box-sizing: border-box;
  padding: 10px;
}
.box-full {
  border: 2px solid black;
  width: 100%;
  background-color: chartreuse;
}

.wrap-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.img {
  width: 100%;
}
