.todo {
  background-color: silver;
  border: 10px;
  padding: 15px;
}
.links1 {
  display: flex;
  flex-direction: column;

  background-color: rgb(28, 196, 84);
}
.yelow {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: yellow;
}
.main-hero {
  text-align: left;
}
.aside {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 68, 140);
  margin-top: 10px;
  margin-bottom: 10px;
}
@media all and (min-width: 480px) and (max-width) {
}
