<div class="palettes">
    <h2>Listado de paletas:</h2>
    <ul class="palettes__list js-palettes-container">
      <!-- Aquí empieza el código que vamos a generar desde JS -->
       <!-- <li class="palettes">
            <h2>Titulo de la paleta</h2>
            <div class="palette__colors">
                <div class="palette__color" style="background-color:#FFBF2E"></div>
                <div class="palette__color" style="background-color:#E85E0C"></div>
                <div class="palette__color" style="background-color:#FF0000"></div>
                <div class="palette__color" style="background-color:#330DFF"></div>
                <div class="palette__color" style="background-color:#C70CE8"></div>
            </div>
        </li>-->
      <!-- Aquí acaba el código que vamos a generar desde JS -->
    </ul>
  </div>
  