.header {
  width: 700px;
  height: 200px;
  background-color: magenta;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 990;
}

.box {
  height: 900px;
  width: 700px;
  background-color: lightsteelblue;
  position: relative;
  top: 200px;
}
