.container {
  border: black 1px solid;
  margin: auto;
}

.container2 {
  border: black 1px solid;
}
/* flex */

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container2 {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.item {
  background-color: darkseagreen;
  border: 1px solid rgb(209, 26, 26);
}
